:root {
    --nav-bg-color: #eee;
    --menu-bg-color: #fcfff7;
    --content-bg-color: #fffff0;
    --lg-weight: 900;
    --me-weight: 700;
    --sm-weight: 500;
    --no-weight: 350;
}

html {
    font-size: 10px;
}

body {
    font-family: 'Nunito', serif;
    color: #292727;
}

h1 {
    /* font-family: 'Ultra', serif; */
    font-family: 'Alegreya SC', serif;
    font-size: 3rem;
    line-height: 2.5rem;
    font-weight: var(--lg-weight);
    color: rgb(224, 53, 53);
}

p {
    font-family: 'Charis SIL', serif;
    font-size: 1.5rem;
    color: rgb(68, 125, 158);
}

.img {
    width: 12rem;
    height: 12.5rem;
    border-radius: 50%;
    display: block;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
}

.img:hover {
    width: 11rem;
    height: 11.5rem;
    border: 0.5rem solid rgb(50, 211, 1);
}


#nav a {
    font-size: 1.5rem;
    line-height: 3rem;
    color: rgb(11, 241, 11);
    text-decoration: none;
}

#nav a:hover {
    color: rgb(250, 177, 42);
    text-decoration: none;
}

#menu a {
    font-size: 2rem;
    font-weight: var(--sm-weight);
    color: rgb(3, 129, 247);
    text-decoration: none;
}

#menu a:hover {
    font-size: 2rem;
    font-weight: var(--lg-weight);
    padding-left: 1.5rem;
    color: rgb(221, 236, 0);
    text-decoration: underline;
}

.info {
    border-bottom: 0.3rem solid #174442;
}

.list {
    padding-bottom: 1.5rem;
}

.date {
    font-size: 1.5rem;
    padding-right: 1.5rem;
    color: rgb(155, 155, 155);
}

.tag {
    font-size: 1.5rem;
    color: rgb(204, 5, 204);
}

@media only screen and (max-width: 600px) {
    /* Thêm các quy tắc CSS của bạn cho thiết bị di động ở đây */
  }
  
  @media only screen and (min-width: 601px) {
    /* Thêm các quy tắc CSS của bạn cho thiết bị laptop và desktop ở đây */
    #nav {
        font-family: 'Nunito',  serif;
        position: fixed;
        padding-right: 1.5rem;
        width: 29rem;
        background-color: var(--nav-bg-color);
        text-align: right;
    }

    #menu {
        position: relative;
        margin-left: 30rem;
        padding-left: 2rem;
        background-color: var(--menu-bg-color);
    }
    
  }